@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the BlogSharp universe</h1>
    <p>We are all about Blogging - become a content creator today!</p>
    <br />CONTENT
</div>
