@model BlogSharp2024.WebSite.ApiClient.DTO.BlogPost

@{
    ViewData["Title"] = "BlogPost " + @Model.Title;
}

<div>
    <h4>@Model.Title</h4>
    Blogpost oprettet: @Html.DisplayFor(model => model.CreationDate)
    <p>@Html.DisplayFor(model => model.Content)</p>
</div>